{% extends 'base.html' %}
{% block body %}
  <br>
<br>
<div class="container">
	<h1 class="ctrl-title">CONTROL OF SYSTEM</h1>
	<br>
	<br>
    <br>
    <div class="col-lg-6 offset-lg-5" >
        <a class="btn btn-success" href="{% url 'pages:singup'%}"><i class="fas fa-plus"></i>Add User</a>
    </div>

</div>

<br>
<br>

<div class="container-fluid control-table ">

        <div class="container ">
            <h2 class="text-center header">STUDENT LIST</h2>

            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col" >Student id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Class</th>

                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td><a href="/pages/{{student.user}}/">{{student.user}}</a></td>
                        <td>{{student.user.first_name}}</td>
                        <td>{{student.user.last_name}}</td>
                        <td>{{student.classroom}}</td>

                    </tr>
                 {% endfor %}
                </tbody>
            </table>

       </div>
        <div class="container">
            <h2 class="text-center">TEACHER LIST</h2>
             <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col" >Student id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>

                    </tr>
                </thead>
                <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td><a href="/pages/{{teacher.user}}/">{{teacher.user}}</a></td>
                        <td>{{teacher.user.first_name}}</td>
                        <td>{{teacher.user.last_name}}</td>

                    </tr>
                 {% endfor %}
                </tbody>
            </table>

        </div>


</div>


{% endblock %}